@import "compass";

// Global vars
$default-border-radius : 5px;

/* Variables générales */

$orange:#282828;
$green:#81b14d;
$blue:#4dadb1;
$box:#eceae0;
$bg:#dbd5c5;
$gris:#444444;
$encoregris:#cacaca;
$grisfonce:#282828;

/* Mixin */

@mixin titlehome($color) {
	background: $color;
	@include box-shadow(#212121 -2px 2px 13px 2px inset);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	padding: 15px;
	text-align: center; 
	font-size: 25px;
	color: white;
}

@mixin box-content($color) {
	background: $color;
	@include box-shadow(#61605d -2px 2px 13px 2px inset);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	font-size: 14px;
	padding: 80px 25px;
	height: 300px;
}

@mixin title($color) {
	/* background: $grisfonce; */
	color: white;
	height: 80px;
	font-size: 25px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	text-align: center;
}

body {
	// min-width: 800px;
}

.modal {
	color: black;
}

/* Box & Color*/

.web-title{ @include titlehome($gris);}
.web-text{@include box-content($box);}

#modalWebLabel {
	text-align: left;
}

.modal-body p {
	text-align: justify;
}

/*Clearfix*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/* Sticky Footer by Ryan Fait http://ryanfait.com/ */

/* Header */

#flash {
	background-color: rgba(0, 0, 0, 0.5);
	// @include opacity(0.3);
	@include border-radius;
	position: fixed;
	top: 10px;
	left: 10px;
}

#flash p {
	padding: 2%;
	color: white;
}

.jumbotron {
	@include box-shadow(black 2px 2px 10px);
	background-color: #282828;
	color: white;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 200px;
}

header {
	white-space:nowrap;
}

header a {
	color: white;
	text-decoration: none;
}

header a:hover {
	color: $encoregris;
	text-decoration: none;
}

header small {
	font-size: 12px;
	position: absolute;
	font-size: 50%;
	top: 90px;
	left: 148px;
}

header h1 {
	position: absolute;
	top: 20px;
	left: 100px;
	text-shadow: -1px 0px 3px white;
	font-size: 63px;
}

/*Navbar*/

nav {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}

nav ul {
    list-style-type: none;
}

nav li {
	display: inline-block;
	margin-right: 6px;
}

/* Tab navigation bar */
#location {
	display: table;
	position: absolute;
	top: 270px;	left: 0px;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

/* JS */

#form-success {
	font-size: 10px;
}

#form-success strong {
	font-size: 20px;
}

.tabfocus {
	display: table-cell;
	width: 33%;
	background: #606060; /* Old browsers */
	background: -moz-linear-gradient(top,  #606060 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #606060 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #606060 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #606060 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #606060 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.tabfocus p {
	color: black;
}

.tabblur {
	display: table-cell;
	background-color: #666666;
	width: 33%;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top,  #282828 0%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282828), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #282828 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #282828 0%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #282828 0%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #282828 0%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

.tabactive {
	display: table-cell;
	background-color: #353535;
	width: 33%;
	background: #353535; /* Old browsers */
	background: -moz-linear-gradient(top, #282828 0%, #4f4f4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282828), color-stop(100%,#4f4f4f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #282828 0%,#4f4f4f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #282828 0%,#4f4f4f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #282828 0%,#4f4f4f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #282828 0%,#4f4f4f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
}

.tabfocus p, .tabactive p, .tabblur p {
	padding-top: 4%;
	text-shadow:0 0 5px black;
}

/*Form*/

.form-main {
	/*border: solid 2px red;*/
	width: 20%;
	margin: 25px auto 0px;
}

/* Profil*/

.profil ul {
	list-style-type: none;
}

/* Parallax */

body {
	margin: 0;
	padding: 0;
	background: $box;
	// color:#fff;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	// text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/* Gestion du contenu */
.slide_inside {
	width: 980px;
	margin: 0 auto;
	font-size: 40px;
	padding-top: 15px;
}

#slidehome  .slide_inside p {
	width: 500px;
	text-align: center, justify;
}

#slideinside .slide_inside p {
	width: 500px;
	text-align:justify;
}

#slidecommunity .slide_inside p {
	width: 500px;
	text-align:justify;
}
/* Mise en place des slides */

#slide-about {
	background: url(../img/screen/metro.jpg) center 0 no-repeat fixed;
}

#slide-community {
	background: url(../img/screen/hl2.jpg) center 0 no-repeat fixed;
}

#title-about {
	background: $grisfonce;
}

#title-community {
	background: $grisfonce;
}

/* Slide home */

.home-web {
	width: 35%;
	margin: 8% auto;
	min-width: 250px;
}

.web-text button{
	margin-top: 5%;
}

/* Title Community & About */

#title-community{ @include title($gris);}
#title-about{ @include title($gris);}

/* Slide community */

#slide-community, #slide-about {
	height: 890px;
}

.container-com {
	width: 1050px;
	margin: 0 auto;
	height: 100%;
	padding: 20px;
}

#description {
	background: #21262c;
	width: 29%;
	font-size: 12px;
	color: white;
	padding: 10px;
	margin-top: 50px;
	display: inline-block;
	opacity: 0.8;
	@include border-radius(5px);
	@include box-shadow(#030408 -2px 2px 13px 2px inset);
	vertical-align: top;
}

#description p {
	text-align: justify;
}

#first {
	text-align: center;
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 5px #212121;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.1);
	margin-top: 30px;
}

#com {
	margin-top: 10px;
	font-size: 12px;
	color: black;
	padding: 10px;
	display: inline-block;
	width: 70.70%;
	height: 90%;
	vertical-align: top;
}

.membres p {
	text-align: justify;
	color: black;
}

.membres a {
	font-weight: bold;
	color: $gris;
	text-decoration: none;
}

.box-membre {
	background-color: $box;
	@include border-radius(5px);
	padding: 10px;
	opacity: 0.90;
	@include box-shadow(#61605d -2px 2px 13px 2px inset);
	margin: 10px 0;
}

.membres a:hover {
	color: darkred;
	text-decoration: none;
}

.imageflottante {
}

/* Float */

.imageflottante{
	float: left;
	margin-left: 10px;
}

.dessous{
	clear: both;
}

/* Slide About */

.container-about {
	background: $grisfonce;
	width: 1050px;
	margin: 0 auto;
	height: 100%;
	padding: 20px;
	@include box-shadow(#212121 -2px 2px 13px 2px inset);
	opacity: 0.95;
}

.story {
	background: $encoregris;
	width: 80%;
	margin: 20px auto 100px;
	@include border-radius();
	@include box-shadow(#61605d -2px 2px 13px 2px inset);
	padding: 35px;
}

.about-content {
	width: 90%;
	margin: 20px auto;
	height: 55% 
}

.contact, .partenaire {
	display: inline-block;
	vertical-align: top;
}

.contact {
	background: $gris;
	width: 40%;
	height:100%;
	padding: 20px;
	@include border-radius(5px);
	@include box-shadow(black -2px 2px 13px 2px inset);
}

.partenaire {
	background: $gris;
	width: 40%;
	height:100%;
	padding: 20px;
	margin-left: 30%;
	@include border-radius(5px);
	@include box-shadow(black -2px 2px 13px 2px inset);
}

.com-title p {
	font-size: 25px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 1px #212121;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.1);
}

.com-text {
	margin-top: 25px;
}

.com-text p {
	font-size: 20px;
	text-align: center;
}
.com-text blockquote p {
	font-size: 14px;
	text-align: justify;
	color: $encoregris;
}

.partenaire ul {
	list-style-type: none;
	margin-left: 100px;
	font-size: 12px;
}

.container-about a {
	color: white;
	text-decoration: none;
}

.container-about a:hover {
	color: darkred;
	text-decoration: none;
}

.story p {
	font-size: 15px;
	color: black;
	text-align: justify;
	padding: 15px;
}


/* Images avatar */

.avatar {
	margin-right: 100px;
	margin-top: 20px;
}

/* Footer */

footer {
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
	padding-top: 15px;
}

#slide-footer {
	background: $grisfonce;
	height: 55px;
	color: white;
}

footer {
	text-align: center;
}

footer p {
	font-size: 15px;
}

footer a {
	color: white;
}

footer a:hover {
	text-decoration: none;
	color: $encoregris;
}

footer small {
	padding-left: 12%;
	font-size: 10px;
}
footer strong {
	padding-right: 12%;
	font-size: 12px;
}

/* Footer Game*/


#slide-footer-game {
	background: $grisfonce;
	height: 55px;
	color: white;
	margin-top: 58px;
}

/* Menu */

#menu-container {
	display: table;
	width: 100%;
}

#menu-home, #menu-web, #menu-game {
	display: table-cell;
	width: 33%;
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 1% 0 0;
}

#menu-web p, #menu-home p {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1) inset, -1px 0 0 rgba(255,255,255,0.1);
}

#menu-web a:hover, #menu-home a:hover, #menu-game a:hover {
	color: $gris;
}

#menu-web a, #menu-home a, #menu-game a {
	text-decoration: none;
	color: black;
}

.red {
	color: red;
}

